/*======================================== Section Start */
/*~~~~~~~~~~~~~~~~~~~~ Sub-Section Start */
/*========== Section End */
/*--- Code Comment */
/*?--- Code Query ?*/

/*======================================== General & Global Elements Start */

* {
    margin: 0;
    padding: 0;
}

button.form_buttons {
    background-color: #8E1D23 !important; /*-- !important added so that all future Bootstrap or other psuedo (is psuedo correct?) styles are over-ridden */
    color: #F8F8F8 !important;
    border: none !important;
    height: 2em !important;
    padding: 0 1em !important;
    border-radius: 5px !important;
}

button.form_buttons:hover {
    background-color: #8E1D23aa !important;
    height: 2.25em !important;
    padding: 0 1.25em !important;
}

/*========== General & Global Elements End */


/*======================================== Header Start */

/*~~~~~~~~~~~~~~~~~~~~ Logo Start */

#santa_special_logo {
    position: absolute;
    top: 2em;
    left: 3em;
    height: 6em;
}

@media (max-width: 820px) { /*-- This needs to match the figure in the "Navbar" media query --*/
#santa_special_logo {
    position: absolute;
    top: 2em;
    left: 1em;
    height: 4em;
 }
}

/*~~~~~~~~~~~~~~~~~~~~ Hero Image Start */

.hero_image.home {
    background-image: url(https://i.imgur.com/zbJghmy.jpg);
}

.hero_image.schedule_tickets {
    background-image: url(https://i.imgur.com/BlIEgdm.jpg);
}

.hero_image {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    animation-name: hero_zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.hero_outer {
    Height: 100vh;
    width: 100%;
    overflow: hidden; 
    position: relative;
}

@keyframes hero_zoom { /*-- "hero-zoom" is an arbiotrary name I selected. It's required to ID the zoom--*/
    from {transform: scale(1)}
    to {transform: scale(1.1)}
}

@media (max-width: 576px) {
.hero_image.home {
    background-image: url(https://i.imgur.com/U4WZL9K.jpg);
}

.hero_image.journey_tickets {
    background-image: url(https://i.imgur.com/DSMtI9a.jpg);
}

.hero_image {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    /* background-image: url(https://i.imgur.com/U4WZL9K.jpg); */
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }
}

#cover_text {
    background-color: #8E1D23aa;

    width: 600px;
    padding: 25px 0;
    border-radius: 5%;

    margin-left: -300px;

    position: absolute;
    left: 50%;
    bottom: 30%;
}

@media (max-width: 576px) {
#cover_text {
    width: 300px;
    padding: 15px 0;
    border-radius: 5%;

    margin-left: -150px;
    }
}

#cover-text, h2 {
    font-size: 3em;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #F8F8F8;
    padding: 0 1em;
}
 
/*~~~~~~~~~~~~~~~~~~~~ Navbar Start */

.nav-bg-colour {
    background-color: #8E1D23aa;
}

.navbar-light .navbar-nav .nav-link {
    color: #F8F8F8;
}

.navbar-toggler-icon.toggler-colour {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(248, 248, 248)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} /*-- This code came from https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color 
with an explanation from https://www.youtube.com/watch?v=U7mjfv9gATs&feature=youtu.be */

.navbar-toggler.toggler-colour{
    border: solid 1px #F8F8F8;
    background-color: #8E1D23aa;
}

.navbar {
    position: absolute;
    top: 3em;
    right: 0;
}

.navbar_menu a {
    margin-right: 1vw;
}

.navbar_menu a:hover {
    border-bottom: 2px solid #F8F8F8;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #F8F8F8;
    font-weight: bold;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #F8F8F8;
    font-weight: bold;
} /*-- ? Why doesn't ".active a" have the same affect? --*/

@media (max-width: 820px) { /*-- This needs to match the figure in the logo media query --*/
.navbar {
    position: absolute;
    top: 2em;
    right: 1em;
    }

    .nav-bg-colour { /*-- ? This is here because I wanted to make the background transparent so that it's not visible, but it's making the icon transparent too. Why? --*/
        opacity:rgba(142, 29, 35, 0.5);
    }
}

/*========== Header End */


#circle_container {
    height: 300px;
    width: 300px;
    padding: 10px; 
    border: 2px solid #8E1D23;
    border-radius: 50%;
    margin: 0px auto;
}

.circle_bg_cover {
    height: 100%;
    border-radius: 50%;
}

.circle_bg_cover, #home_santa_image {
    background: url(https://i.imgur.com/6pZTdq1.png) no-repeat center center;
}

.circle_bg_cover, #home_trip_back_image {
    background: url(https://i.imgur.com/vqC4Ppf.png) no-repeat center center;
}

.circle_bg_cover, #home_sit_back_image {
    background: url(https://i.imgur.com/Cm6UOZ8.png) no-repeat center center;
}


/*======================================== Footer Start */

#footer_trim {
    height: 1em;
    width: 100%;
    background-color: #8E1D23;
}

.container_footer {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    background-color: #3365A0;
}

#footer_details {
    margin: 0 auto;
    width: 80%;
}

@media (max-width: 992px) {
#footer_details {
    width: 90%;
    }
}

#footer_details .row, h5  {
    margin: 0;
    padding: 0;
}

#stay_informed_footer_div h5 {
    margin-bottom: 10px;
}

#footer_details div {
    padding: 0.25em 0.5em;
    text-align: center;
    color: #F8F8F8;
    text-decoration: none;
    border: none;
}

@media (min-width: 992px) {
#footer_details div #contact_us_footer_div {
    text-align: left;
    }
}

#logo_footer {
    height: 9em;
    padding: 0;
} 

@media (max-width: 992px) {
#logo_footer {
    height: 6em;
    }
}

.social-links ul li a i {
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.social-links li a i:hover {
    background: #8E1D23;
}

/*========== Footer End */


/*======================================== Section Start */
/*~~~~~~~~~~~~~~~~~~~~ Sub-Section Start */
/*========== Section End */
/*--- Code Comment */
/*?--- Code Query ?*/