/*======================================== Section Start */
/*~~~~~~~~~~~~~~~~~~~~ Sub-Section Start */
/*========== Section End */
/*--- Code Comment */
/*?--- Code Query ?*/

/*======================================== General & Global Elements Start */


@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|Raleway:100,200,300,400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    text-align: center;
    color: #8E1D23;
    font-family:'Raleway', sans-serif;
    font-weight: bold;
}

h1 {
    padding: 0.25em 0;
}

h3 {
    font-size: 22px;
}

p {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

hr {
    border-top: 2px solid #8E1D23;
}

a {
    color: #F8F8F8 !important; /* Used here because I can't get it to work further down. In addition, I've
    had to reapply it on the Schedule_Tickets page for the EventBrite link! 
    And just to confuse myself futher: it doesn't work for i elements! */
}

.column_main {
    padding: 0 2em;
    text-align: center;
}

.form_buttons {
    background-color: #8E1D23 !important; /*-- !important added so that all future Bootstrap or other psuedo (is psuedo correct?) styles are over-ridden */
    color: #F8F8F8 !important;
    border: none !important;
    height: 2em !important;
    padding: 0 1em !important;
    border-radius: 5px !important;
    margin: 1em 0;
}

.form_buttons:hover {
    background-color: #8E1D23aa !important;
    height: 2.25em !important;
    padding: 0 1.25em !important;
}

#circle_container {
    height: 250px;
    width: 250px;
    padding: 10px; 
    border: 2px solid #8E1D23;
    border-radius: 50%;
    margin: 2em auto;
}

/*========== General & Global Elements End */


/*======================================== Header Start */

/*~~~~~~~~~~~~~~~~~~~~ Logo Start */

#santa_special_logo {
    position: absolute;
    top: 2em;
    left: 3em;
    height: 6em;
}

@media (max-width: 820px) { /*-- This needs to match the figure in the "Navbar" media query --*/
#santa_special_logo {
    position: absolute;
    top: 2em;
    left: 1em;
    height: 4em;
 }
}

/*~~~~~~~~~~~~~~~~~~~~ Hero Image Start */

.hero_image.home {
    background-image: url(https://i.imgur.com/zbJghmy.jpg);
}

.hero_image {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    animation-name: hero_zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.hero_outer {
    Height: 100vh;
    width: 100%;
    overflow: hidden; 
    position: relative;
}

@keyframes hero_zoom { /*-- "hero-zoom" is an arbiotrary name I selected. It's required to ID the zoom--*/
    from {transform: scale(1)}
    to {transform: scale(1.1)}
}

@media (max-width: 576px) {
.hero_image.home {
    background-image: url(https://i.imgur.com/U4WZL9K.jpg);
}

.hero_image {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    /* background-image: url(https://i.imgur.com/U4WZL9K.jpg); */
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }
}

#cover_text {
    background-color: #8E1D23aa;

    width: 600px;
    padding: 25px 0;
    border-radius: 5%;

    margin-left: -300px;

    position: absolute;
    left: 50%;
    bottom: 30%;
}

@media (max-width: 576px) {
#cover_text {
    width: 300px;
    padding: 15px 0;
    border-radius: 5%;

    margin-left: -150px;
    }
}

#cover-text, h2 {
    font-size: 3em;
    letter-spacing: 4px;
    text-align: center;
    color: #F8F8F8;
    padding: 0 1em;
}
 
/*~~~~~~~~~~~~~~~~~~~~ Navbar Start */
.nav-bg-colour {
    background-color: #8E1D23aa;
}

.navbar-light .navbar-nav .nav-link {
    color: #F8F8F8;
}

.navbar-toggler-icon.toggler-colour {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(248, 248, 248)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} /*-- This code came from https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color 
with an explanation from https://www.youtube.com/watch?v=U7mjfv9gATs&feature=youtu.be */

.navbar-toggler.toggler-colour{
    border: solid 1px #F8F8F8;
    background-color: #8E1D23aa;
}

.navbar {
    position: absolute;
    top: 3em;
    right: 0;
}

.navbar_menu a {
    margin-right: 1vw;
}

.navbar_menu a:hover {
    border-bottom: 2px solid #F8F8F8;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #F8F8F8;
    font-weight: bold;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #F8F8F8;
    font-weight: bold;
} /*-- ? Why doesn't ".active a" have the same affect? --*/

@media (max-width: 820px) { /*-- This needs to match the figure in the logo media query --*/
.navbar {
    position: absolute;
    top: 2em;
    right: 1em;
    }

    .nav-bg-colour { /*-- ? This is here because I wanted to make the background transparent so that it's not visible, but it's making the icon transparent too. Why? --*/
        opacity:rgba(142, 29, 35, 0.5);
    }
}

/*========== Header End */


/*======================================== Home Page Start */

main {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 992px) {
main {
    width: 90%;
    margin: 0 auto;
    }
}

#introduction_home span {
    text-decoration: none;
    font-weight: bold;
    color: #5B5B5B;
}

.circle_bg_cover {
    height: 100%;
    border-radius: 50%;
    max-width: 1000px; /*-- this and max-height inserted in an attempt to stop the image cropping */
    max-height: 1000px;
}

.circle_bg_cover, #meet_santa_image_home {
    background: url(https://i.imgur.com/6pZTdq1.png) no-repeat center center;
}

.circle_bg_cover, #trip_back_image_home {
    background: url(https://i.imgur.com/vqC4Ppf.png) no-repeat center center;
}

.circle_bg_cover, #sit_back_image_home {
    background: url(https://i.imgur.com/Cm6UOZ8.png) no-repeat center center;
}

.column_main > .form_buttons {
    margin: 1em 0 2em 0;
}

@media (max-width: 992px) { /*-- Hiding of "sit back" column in main section */
#sit_back_container_div {
    display: none;
    }
}

.reviews_column {
    text-align: center;
}

.ticket_background_div {
    height: 12em;
    position: relative;
}

.ticket_background {
    height: 12em;
}

.ticket_background_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
#review_2 {
    display: none;
    }

#review_1 { /*--? This, in combinbation with the two that follow, isn't changing the order. What am I doing wrong> */
    order: 1;
}

#meet_santa_container_div {
    order: 2;
  }
  
#trip_back_container_div {
    order: 3;
  }
}

/*========== Header End */


/*======================================== Footer Start */

#footer_trim {
    margin-top: 1em;
    height: 1em;
    width: 100%;
    background-color: #8E1D23;
}

.container_footer {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    background-color: #3365A0;
}

#footer_details {
    margin: 0 auto;
    width: 90%;
}

#footer_details .row, h5  {
    margin: 0 0 10px 0;
    padding: 0;
}

#stay_informed_footer_div h5 {
    margin-bottom: 10px;
}

#footer_details div {
    padding: 0.25em 0.5em;
    text-align: center;
    color: #F8F8F8;
    text-decoration: none;
    border: none;
}

@media (min-width: 992px) {
#footer_details div #contact_us_footer_div {
    text-align: left;
    }
}

#logo_footer {
    height: 9em;
    padding: 0;
} 

@media (max-width: 992px) {
#logo_footer {
    height: 6em;
    }
}

#stay-informed_yes_button_footer {
    margin: 0;
}

.social-links li a i {
    margin: 0 0.25em;
    font-size: 2em;
    text-align: center;
    color: #fafafa;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.social-links li a i:hover {
    color: #8E1D23aa;
    font-size: 2.05em;
}

/*========== Footer End */


/*======================================== Section Start */
/* Sub-Section Start */
/*========== Section End */
/*--- Code Comment */
/*?--- Code Query ?*/