/*======================================== Section Start */
/*~~~~~~~~~~~~~~~~~~~~ Sub-Section Start */
/*========== Section End */
/*--- Code Comment */
/*?--- Code Query ?*/

.hero_image.the_train {
    background-image: url(https://i.imgur.com/SbKHZE1.jpg);
}

@media (max-width: 576px) {
.hero_image.the_train {
    background-image: url(https://i.imgur.com/ga02L1M.jpg);
    }
}


/*~~~~~~~~~~~~~~~~~~~~ Information Cards Images Start */

.circle_bg_cover, #no85_image {
    background: url(https://i.imgur.com/Saoiuxu.png) no-repeat center center;
}

.circle_bg_cover, #no4_the_beast_image {
    background: url(https://i.imgur.com/iTTgSTT.png) no-repeat center center;
}

.circle_bg_cover, #craven_carriages_image {
    background: url(https://i.imgur.com/bUa5q9f.png) no-repeat center center;
}

@media (min-width: 698px) and (max-width: 1177px) { /*-- Hiding of "Craven Carriages" column in main section on tablets */
#craven_carriages_container_div {
    display: none;
    }
}

/*~~~~~~~~~~~~~~~~~~~~ Train Specifics Start */

.train_cards_specifics {
    margin-bottom: 20px;
    display: block;
    clear: both;
    text-align: left;
}

.train_cards_specifics .key,
.train_cards_specifics .value {
    padding-right: 8px;
    display: inline-block;
}

.train_cards_specifics .key p,
.train_cards_specifics .value p {
    margin: 0;
}

.train_cards_specifics .key {
    font-weight: bold;
    width: 30%;
    padding-top: 2px;
    vertical-align: top;
}

.train_cards_specifics .value {
    position: relative; 
    width: 65%;
    padding-top: 2px;
    vertical-align: top;
    left: 15px;
}