@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

.ps-timeline-sec {
  position: relative;
  background: #fff;
}
.ps-timeline-sec .container {
  position: relative;
}

/* The time line "bookends" start */

.ps-timeline-sec .container ol:before {
  background: #8E1D23;
  content: "";
  width: 2px;
  height: 15px;
  position: absolute; /*-- positioned relative to ".container" */
  top: -350%; /* In dev tools I can see that container is 2px, but unsure why I need 350% to centre it */
}
.ps-timeline-sec .container ol:after {
  background: #8E1D23;
  content: "";
  width: 2px;
  height: 15px;
  position: absolute;
  top: -350%
}

/* The time line "bookends" end */

.ps-timeline-sec .container ol.ps-timeline { /*This is the actual "line". I'm unsure about the selector string */
  margin: 390px 0; /* This is what pushed the entire thing down the page. */
  padding: 0px;
  border-top: 2px solid #8E1D23;
  list-style: none;
}
.ps-timeline-sec .container ol.ps-timeline li {
  float: left;
  width: 16.65%; /* width of each element on the timeline */
  padding-top: 30px; /* can't figure this bit out */
  position: relative;
}
.ps-timeline-sec .container ol.ps-timeline li span { /*these are the markers along the timeline */
  width: 16px;
  height: 16px;
  margin: 17px -8px 0 0; /*-- Positions the markers on the timeline */
  background: #8E1D23;
  border-radius: 50%;
  position: absolute;
  top: -26px;
  left: 50%;
}

.ps-timeline-sec .container ol.ps-timeline li .img-handler-top {
  position: absolute;
  bottom: 0;
  margin-bottom: 100px;
  width: 100%;
}
.ps-timeline-sec .container ol.ps-timeline li .img-handler-top img {
  display: table; /* I've never used tables. Need to check this out. Seems to help centre the image */
  margin: 0 auto;
}
.ps-timeline-sec .container ol.ps-timeline li .img-handler-bot {
  position: absolute;
  margin-top: 40px;
  width: 100%;
}
.ps-timeline-sec .container ol.ps-timeline li .img-handler-bot img {
  display: table;
  margin: 0 auto;
}
.ps-timeline-sec .container ol.ps-timeline li p {
  text-align: center;
  font-weight: bold;
  color: #8E1D23;

  position: absolute;
  bottom: -55px;
  width: 200px; /* Width needed to match #circle_container as this element is positioned relative to it */
}

.ps-timeline-sec .container ol.ps-timeline li .timeline_beneath_code {
    top: -45px;
}

#circle_container {
    height: 200px;
    width: 200px;
    padding: 8px; 
    border: 1px solid #8E1D23;
    border-radius: 50%;
    margin: 0 auto;
}

.circle_bg_cover {
    height: 100%;
    border-radius: 50%;
}

.circle_bg_cover, #connolly_station {
    background: url(https://i.imgur.com/l6ZmhDx.png) no-repeat center center;
}

.circle_bg_cover, #croke_park {
    background: url(https://i.imgur.com/6L9duca.png) no-repeat center center;
}

.circle_bg_cover, #m50_m3_junction {
    background: url(https://i.imgur.com/WlJ7rYS.png) no-repeat center center;
}

.circle_bg_cover, #royal_canal {
    background: url(https://i.imgur.com/PEEfZUX.png) no-repeat center center;
}

.circle_bg_cover, #carton_house {
    background: url(https://i.imgur.com/Oqh4ewM.png) no-repeat center center;
}

.circle_bg_cover, #maynooth {
    background: url(https://i.imgur.com/L2oFRw3.png) no-repeat center center;
}

/* Mobile Version */

@media screen and (max-width: 767px) {
  .ps-timeline-sec .container ol:before {
    background: #348e80;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 130px !important;
    left: 36px !important;
  }
  .ps-timeline-sec .container ol:after {
    background: #348e80;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: inherit !important;
    left: 36px;
  }
  .ps-timeline-sec .container ol.ps-timeline {
    margin: 130px 0 !important;
    border-left: 2px solid #348e80;
    padding-left: 0 !important;
    padding-top: 120px !important;
    border-top: 0 !important;
    margin-left: 25px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li {
    height: 220px;
    float: none !important;
    width: inherit !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li:nth-child(2) .img-handler-bot img {
    width: 70px;
  }
  .ps-timeline-sec .container ol.ps-timeline li:last-child {
    margin: 0;
    bottom: 0 !important;
    height: 120px;
  }
  .ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot {
    bottom: 40px !important;
    width: 40% !important;
    margin-left: 25px !important;
    margin-top: 0 !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot img {
    width: 100%;
  }
  .ps-timeline-sec .container ol.ps-timeline li:last-child .ps-top {
    margin-bottom: 0 !important;
    top: 20px;
    width: 50% !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li span {
    left: 0 !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:before {
    content: none !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after {
    content: none !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:before {
    content: none !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after {
    content: none !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top {
    position: absolute !important;
    bottom: 150px !important;
    width: 30% !important;
    float: left !important;
    margin-left: 35px !important;
    margin-bottom: 0 !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top img {
    margin: 0 auto !important;
    width: 80% !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot {
    position: absolute !important;
    bottom: 115px !important;
    width: 30% !important;
    float: left !important;
    margin-left: 35px !important;
    margin-bottom: 0 !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li p {
    text-align: left !important;
    width: 100% !important;
    margin: 0 auto !important;
    margin-top: 0px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .ps-top {
    width: 60% !important;
    float: right !important;
    right: 0;
    top: -40px;
  }
  .ps-timeline-sec .container ol.ps-timeline li .ps-bot {
    width: 60% !important;
    float: right !important;
    right: 0;
    top: -40px;
  }
}

/* Mobile End */