@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

/*======================================== Hero Image Start */

.hero_image.your_journey {
    background-image: url(https://i.imgur.com/12FOs7X.jpg);
}

@media (max-width: 576px) { /*-- Smaller image on mobile devices */
    .hero_image.your_journey {
    background-image: url(https://i.imgur.com/eouyicP.jpg);
    }
}


/*======================================== Timeline == Start */

.ps-timeline-sec {
  position: relative;
  background: #fff;
}
.ps-timeline-sec .container {
  position: relative;
}

/*~~~~~~~~~~~~~~~~~~~~ Timeline "Bookends" ~~ Start */

.ps-timeline-sec .container ol:before {
  background: #8E1D23;
  content: "";
  width: 2px;
  height: 15px;
  position: absolute; /*-- positioned relative to ".container" */
  top: -350%; /* In dev tools I can see that container is 2px, but unsure why I need 350% to centre it */
}
.ps-timeline-sec .container ol:after {
  background: #8E1D23;
  content: "";
  width: 2px;
  height: 15px;
  position: absolute;
  top: -350%
}



.ps-timeline-sec .container ol.ps-timeline { /*This is the actual "line". I'm unsure about the selector string */
  margin: 295px 0 320px 0; /* This is what pushed the entire thing down the page and inbetween header/into and the footer. I can't see how it works  */
  padding: 0px;
  border-top: 2px solid #8E1D23;
  list-style: none;
}
.ps-timeline-sec .container ol.ps-timeline li { /* Determines the width and position of each "event" along the timeline */
  float: left;
  width: 16.65%; /* width of each element on the timeline */
  padding-top: 25px; /* can't figure this bit out */
  position: relative; 
}
.ps-timeline-sec .container ol.ps-timeline li span { /*these are the markers along the timeline */
  width: 16px;
  height: 16px;
  margin: 17px -8px 0 0; /*-- Positions the markers on the timeline */
  background: #8E1D23;
  border-radius: 50%;
  position: absolute;
  top: -26px;
  left: 50%;
}

.ps-timeline-sec .container ol.ps-timeline li .img-handler-top {
  position: absolute;
  bottom: 0;
  margin-bottom: 100px;
  width: 100%;
}
.ps-timeline-sec .container ol.ps-timeline li .img-handler-top img {
  display: table; /* I've never used tables. Need to check this out. Seems to help centre the image */
  margin: 0 auto;
}
.ps-timeline-sec .container ol.ps-timeline li .img-handler-bot {
  position: absolute;
  margin-top: 40px;
  width: 100%;
}
.ps-timeline-sec .container ol.ps-timeline li .img-handler-bot img {
  display: table;
  margin: 0 auto;
}
.ps-timeline-sec .container ol.ps-timeline li p {
  text-align: center;
  font-weight: bold;
  color: #8E1D23;

  position: absolute;
  bottom: -55px;
  width: 200px; /* Width needed to match #circle_container as this element is positioned relative to it */
}

.ps-timeline-sec .container ol.ps-timeline li .timeline_beneath_code { /*-- Required to push the text up from the image container beneath --*/
    top: -45px;
}

#circle_container {
    height: 200px;
    width: 200px;
    padding: 8px; 
    border: 1px solid #8E1D23;
    border-radius: 50%;
    margin: 0 auto;
}

@media (min-width: 1160px) and (max-width: 1375px) { /* Allows the timeline to resize properly on medium screens */
    #circle_container {
        height: 175px;
        width: 175px;
        padding: 6px; 
    }

    .ps-timeline-sec .container ol.ps-timeline li p {
        width: 175px;
    }

    .ps-timeline-sec .container ol.ps-timeline {
        margin: 250px 0 270px 0;
    }
}

@media (min-width: 750px) and (max-width: 1159px) { /* Allows the timeline to resize properly on medium screens */
    #circle_container {
        height: 125px;
        width: 125px;
        padding: 4px; 
    }

    .ps-timeline-sec .container ol.ps-timeline li p {
        width: 125px;
    }

    .ps-timeline-sec .container ol.ps-timeline {
        margin: 200px 0 215px 0;
    }
}

.circle_bg_cover {
    height: 100%;
    border-radius: 50%;
}

.circle_bg_cover, #connolly_station {
    background: url(https://i.imgur.com/l6ZmhDx.png) no-repeat center center;
}

.circle_bg_cover, #croke_park {
    background: url(https://i.imgur.com/6L9duca.png) no-repeat center center;
}

.circle_bg_cover, #m50_m3_junction {
    background: url(https://i.imgur.com/WlJ7rYS.png) no-repeat center center;
}

.circle_bg_cover, #royal_canal {
    background: url(https://i.imgur.com/PEEfZUX.png) no-repeat center center;
}

.circle_bg_cover, #carton_house {
    background: url(https://i.imgur.com/Oqh4ewM.png) no-repeat center center;
}

.circle_bg_cover, #maynooth {
    background: url(https://i.imgur.com/L2oFRw3.png) no-repeat center center;
}

/* Mobile Version */

/*-- Timeline Line & Bookends Start --*/

@media screen and (max-width: 767px) {
    #circle_container  { /*-- Temp to hide the pictures while working on laying out text --*/
        display: none;
    }

  .ps-timeline-sec .container ol:before {
    background: #8E1D23;
    content: "";
    width: 10px;
    height: 2px;
    position: absolute;
    top: 0px !important;
    left: 36px !important;
  }
  .ps-timeline-sec .container ol:after {
    background: #8E1D23;
    content: "";
    width: 10px;
    height: 2px;
    position: absolute;
    top: inherit !important; /*--? Inherited from what? */
    left: 36px;
  }

  .ps-timeline-sec .container ol.ps-timeline { /*--This is the actual timeline line --*/
    margin: 130px 0 !important;
    border-left: 2px solid #8E1D23;
    padding-left: 0 !important;
    padding-top: 120px !important;
    border-top: 0 !important;
    margin-left: 25px !important;
  }

  .ps-timeline-sec .container ol.ps-timeline li { /*-- This is each individual section of the timeline line apart from top and bottom --*/
    height: 220px;
    float: none !important;
    width: inherit !important;
  }

/*-- Timeline Line & Bookends End --*/

  .ps-timeline-sec .container ol.ps-timeline li:nth-child(2) .img-handler-bot img {
    width: 70px;
  }
  .ps-timeline-sec .container ol.ps-timeline li:last-child {
    margin: 0;
    bottom: 0 !important;
    height: 120px;
  }
  .ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot {
    bottom: 40px !important;
    width: 40% !important;
    margin-left: 25px !important;
    margin-top: 0 !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot img {
    width: 100%;
  }
  .ps-timeline-sec .container ol.ps-timeline li span { /*-- These are the markers along the timeline --*/
    left: -9px !important;
  }
  
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top {
    position: absolute !important;
    top: 0px !important;
    width: 60% !important;
    float: left !important;
    margin-left: 35px !important;
    margin-bottom: 0 !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top img {
    margin: 0 auto !important;
    width: 80% !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot {
    position: absolute !important;
    bottom: 115px !important;
    width: 60% !important;
    float: left !important;
    margin-left: 35px !important;
    margin-bottom: 0 !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li p {
    text-align: left !important;
    width: 100% !important;
    margin: 0 auto !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
    .ps-timeline-sec .container ol.ps-timeline li .timeline_text {
   
        color: blue !important;
        top: 0;
        transform: rotate(-30deg);
    }

    .ps-timeline-sec .container ol.ps-timeline li #croke_park_p {
        position: absolute;
        top: -82px;
        left: 55px;
    }

    .ps-timeline-sec .container ol.ps-timeline li #m50_m3_junction_p {
        position: absolute;
        top: -82px;
        left: 55px;
    }

    .ps-timeline-sec .container ol.ps-timeline li #royal_canal_p {
        position: absolute;
        top: -82px;
        left: 55px;
    }
}

/* Mobile End */